.layout {
  @apply relative py-0 px-52 bg-[#FAFBFC] text-green-900;
  display: grid;
  grid-template-rows: 1fr auto 6fr;
  grid-template-areas:
    "header"
    "content"
    "footer";
}

.content {
  grid-area: content;
}